DISCORD_TOKEN=
DISCORD_GUILD_ID=
DISCORD_CHANNEL_ID=
DISCORD_APP_ID=1468353199907012630
DISCORD_PUBLIC_KEY=83df6bf5ef73afa935ee15233a21eae3be7cdeeaf652bf9258174ec53f27f549
ADMIN_ROLE_ID=

COMPOSE_PROJECT_NAME=otto-table-dev
PGHOST=postgres
PGPORT=5432
PGUSER=otto
PGPASSWORD=otto
PGDATABASE=otto

TZ=Europe/Paris
MENTION_IN_THREAD=false
ALLOW_BOT_PLAYERS=false
DATABASE_URL=postgresql://otto:otto@postgres:5432/otto
BACKUP_DIR=data/backups
LOG_LEVEL=info
VACATION_ACADEMY=Nantes
ALLOW_INSECURE_TLS=false
DNS_RESULT_ORDER=ipv4first
DISCORD_FORCE_IPV4=true
DNS_PRIMARY=1.1.1.1
DNS_SECONDARY=8.8.8.8
